In [7]:
from faker import Faker

In [10]:
faker = Faker()
for _ in range(10):
    print(f"Datetime between: {faker.date_between(start_date='-18y', end_date='now')}")

Datetime between: 2010-10-01
Datetime between: 2016-05-03
Datetime between: 2006-02-28
Datetime between: 2018-02-24
Datetime between: 2021-10-09
Datetime between: 2010-03-10
Datetime between: 2011-06-29
Datetime between: 2011-04-24
Datetime between: 2009-07-03
Datetime between: 2014-12-16

## Payment Table

In [14]:
import random
import numpy as np

paymentmethods = ["Mastercard", "iDeal", "Visa", "PayPal", "Klarna"]

#Generate random payment method data, k = the number of orders
paymentdata = random.choices(paymentmethods, weights=(40, 10, 8, 24, 18), k=10)

print(paymentdata)

['PayPal', 'Mastercard', 'Klarna', 'Mastercard', 'iDeal', 'Klarna', 'PayPal', 'Mastercard', 'PayPal', 'PayPal']

### Transforming to dataframe in Pandas

In [37]:
import pandas as pd
paymentdf = pd.DataFrame (paymentmethods, columns = ['Payment_Method'])
paymentdf.head()

  Payment_Method
0     Mastercard
1          iDeal
2           Visa
3         PayPal
4         Klarna

### Add new column with payment terms for every payment method

In [26]:
#Create list of conditions
conditions = [
    (paymentdf['Payment_Method'] == 'Mastercard'),
    (paymentdf['Payment_Method'] == 'iDeal'),
    (paymentdf['Payment_Method'] == 'Visa'),
    (paymentdf['Payment_Method'] == 'PayPal'),
    (paymentdf['Payment_Method'] == 'Klarna')
    ]

#Create list of values that will be assigned to the conditions
values = ['End of month', 'Debit', 'End of month', 'Debit', 'Net 15']

#Create new column with values
paymentdf['Payment_Terms'] = np.select(conditions, values)

paymentdf.head(10)

  Payment_Method Payment_Terms
0         PayPal         Debit
1     Mastercard  End of month
2         Klarna        Net 15
3     Mastercard  End of month
4          iDeal         Debit
5         Klarna        Net 15
6         PayPal         Debit
7     Mastercard  End of month
8         PayPal         Debit
9         PayPal         Debit

## Store Table

In [38]:
stores = [['Amsterdam','Oudezijds Voorburgwal'],
['Stockholm','Drottninggatan'],
['London','Carnaby Street'],
['Warsaw','Nowy Świat'],
['Rome','Via del Corso'],
['Madrid','Calle Preciados'],
['Webshop','http://www.sneaker-factory.com]']
         ]


#Generate random store data, k = the number of orders
storedata = random.choices(stores, weights=(18, 8, 16, 5, 11, 7, 35), k=10)

print(storedata)

[['Webshop', 'http://www.sneaker-factory.com]'], ['Rome', 'Via del Corso'], ['Webshop', 'http://www.sneaker-factory.com]'], ['Webshop', 'http://www.sneaker-factory.com]'], ['Amsterdam', 'Oudezijds Voorburgwal'], ['Warsaw', 'Nowy Świat'], ['Rome', 'Via del Corso'], ['Amsterdam', 'Oudezijds Voorburgwal'], ['Rome', 'Via del Corso'], ['Warsaw', 'Nowy Świat']]

In [34]:
storedf = pd.DataFrame (stores, columns = ['Store_Location', 'Address'])

storedf.head(10)

  Store_Location                          Address
0      Amsterdam            Oudezijds Voorburgwal
1      Stockholm                   Drottninggatan
2         London                   Carnaby Street
3         Warsaw                       Nowy Świat
4           Rome                    Via del Corso
5         Madrid                  Calle Preciados
6        Webshop  http://www.sneaker-factory.com]

## Discount Table

In [125]:
import datetime

faker = Faker()
discountlist = [] 
for _ in range(20):
    discountlist.append((faker.date_between(start_date='-18y', end_date='now')).strftime("%d %b"))
    
print(discountlist)

['01 Dec', '22 Nov', '21 Mar', '08 Aug', '19 Aug', '25 Dec', '08 Aug', '13 Aug', '30 Jan', '21 Nov', '26 Apr', '14 Jun', '21 Mar', '06 Nov', '05 Jun', '21 Aug', '20 Oct', '30 Dec', '09 Dec', '25 Nov']

In [127]:
for i in discountlist:
    if int(i[:2]) <= 7 and str(i[-3:]) == "Jan":
        print("New Year discount")
    elif i[-3:] == "Dec":
        print("Christmas discount")
    elif (int(i[:2]) >= 21 and str(i[-3:]) == "Mar") or (int(i[:2]) <= 3 and str(i[-3:]) == "Apr"):
        print("Spring deal")
    else:
        print("No discount")

Christmas discount
No discount
Spring deal
No discount
No discount
Christmas discount
No discount
No discount
No discount
No discount
No discount
No discount
Spring deal
No discount
No discount
No discount
No discount
Christmas discount
Christmas discount
No discount

## Product table